body{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
}
td{
	background-color: #168655;
	width: 75px;
	height: 75px;
	position: relative;
	margin: 5px;
	text-align: center;
}
.joueur1{
	position: relative;
	border-radius: 50px;
	width: 55px;
	height: 55px;
	display: inline-block;
	background-color: red;
}
.joueur2{
	position: relative;
	border-radius: 50px;
	width: 55px;
	height: 55px;
	display: inline-block;
	background-color: blue;
}